<header>
    <div class="container">
        <br>
        <div class="logo">
            <a href="index"><img src="img/YENILOGO.jpg" style="border-radius:0 20px 0 20px; 
            box-shadow: 2px 6px 1px #500D16"></a>
        </div>

        <div class="menu">
            <ul>
                <li> <a href="index"> HOME </a></li>
                <li> <a href="products"> PRODUCTS </a>
                    <ul>
                        <li>
                        <a href="products" >SILLS</a>
                        <a href="products">BANDING </a>
                        <a href="products" ><p >SURROUNDS</p></a>
                        <a href="products">WALL PANELS</a>
                        <a href="products">SHEER PANELS</a>
                        </li>
                   </ul>
                </li>
                <li> <a href="about"> ABOUT </a></li>
                <li> <a href="contact"> CONTACT </a></li>
            </ul>

        </div>
    </div>
</header>