  <footer class="sectionArea">
        <div class="container">


            <div class="col3">
                <div class="footerItem">
                    <h3>QUICK LINKS</h3>
                    <ul class="footerLinks">
                        <li><a href="index">HOME</a></li>
                        <li><a href="products">PRODUCTS</a></li>
                        <li><a href="about">ABOUT</a></li>
                        <li><a href="contact">CONTACTS</a></li>
                    </ul>
                </div>
            </div>

            <div class="col3">
                <div class="footerItem">
                    <h3>WELCOME TO OUR SITE</h3>
                    <a href="index"><img src="img/YENILOGO.jpg" style="border-radius:0 20px 0 20px"></a>
                    <p>MAPLE PRECAST LTD<br /><a
                    href="https://www.google.ca/maps/place/94+Fenmar+Dr,+North+York,+ON+M9L+1M5/@43.7595234,-79.5496685,17z/data=!3m1!4b1!4m5!3m4!1s0x882b301a9ec008b3:0xc45bb2063998f4ed!8m2!3d43.7595234!4d-79.5474798">94
                    Fenmar Drive,North York, ON M9L 1M5</a><br />Tel:
                    (416) 749 3336 <br /> mapleprecastltd@gmail.com</p>
                </div>
            </div>

            

            <div class="col3">
                <div class="footerItem">
                    <h3>BE SOCIAL WITH US</h3>
                    <ul class="socialLinks">
                        <li><a href="https://www.instagram.com/mapleprecast/"  target ="_blank"><i class="fa fa-instagram "></i></a></li>
                        <li><a href="https://www.facebook.com/Concrete.Precast" target ="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/maple-precast-13b5aa212/" target ="_blank"><i class="fa fa-linkedin"></i></a></li>

                    </ul>
                </div>
            </div>
        </div>

    </footer>

    </body>

</html>