<div class="newItemPage">
    <div  class="newItemPageContainer">
        <form  action="/productsAdmin"   method="POST">
        <center><label type="text" class="newItemTitle">Title</label></center> <br>
        <input class="newItemTitleInput" name="title"  placeholder="Type title *" type="text" required="required">
        <center><label type="date" class="newItemTitle">Date</label></center> <br>
        <input class="newItemTitleInput" name="date"  placeholder="Enter the date *" type="text" required="required"  >
         <br>
        
        <center><label  class="newItemTitle">Description</label></center> <br>
        <input class="newItemDescription" name="description"   type="text" required="required" >

    <div class="newItemButtons">
        <input type="file" id="file" name="file">      <br/> <br/>  
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </form>
    </div>

</div>