<div class="newItemPage">
    <div  class="newItemPageContainer">
        <form  action="/productsAdmin"   method="POST"  enctype="multipart/form-data">
        <center><label type="text" class="newItemTitle">Title</label></center> <br>
        <input class="newItemTitleInput" name="title"  placeholder="Type title *" type="text" required="required">
         <br>
        
        <center><label  class="newItemTitle">Description</label></center> <br>
        <textarea class="newItemDescription" name="description"   type="textarea" required="required" ></textarea>

    <div class="newItemButtons">
        <input type="file" id="file" name="post_Image">      <br/> <br/>  
        <button type="button" class="btn btn-danger">Cancel</button>
        <button type="submit" class="btn btn-success">Submit</button>
    </div>
    </form>
    </div>

</div>