<section  class="adminSayfasi">

    <h1 style="text-align: center;">WELCOME  TO ADMIN PANEL</h1>
    
   
    <a href="productsAdmin"><button class="btnUpdate">ProductsAdmin</button></a>
    


</section>