<section  class="adminSayfasi">

    <h1 style="text-align: center;">WELCOME  TO ADMIN PANEL</h1>
    <button class="btnEkle">ADD</button>
    <button class="btnDelete">DELETE</button>
    <button class="btnUpdate">UPDATE</button>
    


</section>