<div class="LoginPage">
    <h2 class="LoginPageTitle">WELCOME TO MAPLEPRECASTLTD.COM </h2>
    <div class="formContainer">
        <form  id="form"  action="/admin">
        <center><label>Username</label></center>

        <center><input class="userName" type="text" placeholder="Enter username" name="username" id="username" required>
        </center>
        <br>

        <center><label>Password</label></center>

        <center><input class="password" type="text" placeholder="Enter password" name="userpassword" id="userpassword" required>
        </center>

        <button class="btnLogin">LogIn</button>

        </form>


    </div>


</div>